{{ define "ratings" }}
<section class="ratings">
    <div class="container">
        <div class="row">
            <div class="col-xl-10 offset-xl-1">
                <h2>Reviews</h2>
                <div class="reviews-section">
                    {{ range . }}
                    <div class="review">
                        <div class="rating">
                            <span class="value">{{ .Value }}/5</span>
                        </div>
                        <div class="user-details">
                            <span class="username">{{ .UserId }}</span>
                        </div>
                        <div class="comment">
                            <p>{{ .Comment }}</p>
                        </div>
                    </div>
                    {{ end }}
                    <h3>Leave a review</h3>
                    <form method="POST" action="/addRating">
                        <div class="form-group">
                            <label for="rating">Rating (0-5):</label>
                            <input name="rating" type="number" step="0.1" min="0" max="5" id="rating" name="rating"
                                required>
                        </div>
                        <div class="form-group">
                            <label for="username">Your Name:</label>
                            <input name="username" type="text" id="username" name="username" required>
                        </div>
                        <div class="form-group">
                            <label for="comment">Comment:</label>
                            <textarea name="comment" id="comment" name="comment" required></textarea>
                        </div>
                        <button class="cymbal-button-secondary" type="submit">Submit</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
    </div>
</section>
{{ end }}